{% extends "base.html" %}

{% block title %}
        <title>Home | Michal Dacko Tutoring</title>
{% endblock %}

{% block home%}
class="active"
{% endblock %}

{% block content %}
    <div class="col-sm-12 col-md-9 panel">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <img class="img-fluid img-rounded" width="100%" height="auto" src="/static/img/picture.jpg" style="margin-top: 15px;">
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <h2>About Me and My Business</h2>
                        <p>My name is Michal Dacko and I'm a third-year Mechanical Engineering student at the University of Edinburgh. Teaching has been my part time job for over 2 years and I have had the pleasure of helping many students accomplish their target grades. I work in association with other experienced tutors whom I consider to be as effective as myself.</p>
                        <p>We specialise in teaching Maths and Physics and have a good understanding of the CFE higher and national courses. Our aim is to provide experienced and high-quality tuition at competitive rates. We do this by staying independent of high-commission tutoring agencies.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2>Our Approach?</h2>
                <p>The strength of One-to-One teaching is that the tutor is able to adapt the content of the lesson to the needs of the pupil. When teaching, we focus heavily on ensuring that our lessons are well tailored for the pupil.</p>
                <p>With Maths and Physics, the prerequisite knowledge is key. Because of this, the sessions focus on building up a strong foundation of the basics on which advanced content is built. This gives the pupil a deeper understanding of the subject which helps with the more difficult of exam questions.</p>
                <p>We consider exam technique as important as knowledge when it comes to getting "As" in the exams. This is why the sessions are also very exam focused. We give the pupils tips and strategies for quickly checking answers, scoring all marks for working and making the best use of the exam time. We teach using mostly past exam questions and ensure the students get lots of practice. </p>
                <p>Parents and students are given access to an educational portal where they can participate in planning the sessions, self-assess their progress to help identify knowledge gaps and access useful educational resources shared by tutors and other students.</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <h2>Time Per Week</h2>
                <p>The ideal amount of time needed per session and number of sessions per week are highly dependent on the student. Motivated students will see colossal improvements in their performance with only the bare minimum tutoring time. During our sessions, we do our best to motivate the student. However, most of it comes down to the pupil's attitude.</p>
                <p>Having said that, most student's performance will improve with just 1 session per week. 60-to-90-minute sessions for Higher and 45-to-60-minute sessions for National 5 have worked well with our previous students.</p>
                <p>The students can stay in contact with their tutor at all times and so receive help and answers to questions outside of session time. The educational portal allows pupils to also access useful resources outside of the sessions. Finally, the tutor sets the student weekly homework to practice and consolidate the material covered during the session.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Where Do The Sessions Happen?</h2>
                <p>We aim to be very flexible with the location. The most common locations are homes of the student. However, we can teach in any space with minimal distractions (libraries, coffee shops etc).</p>
            </div>
        </div>
    </div>
{% endblock %}